{% extends "layout.html" %}

{% block body %}

<ul class=entries>
    <li><h2><a href="{{ url_for('entry', post_id=entry.id) }}">{{ entry.title }}</a></h2></li>
    
    {{ entry.text|safe }}
</ul>

<br>

{% if session.logged_in %}
    <form action="{{ url_for('delete', post_id=entry.id) }}" method="post" class=delete-button>
        <input type="submit" value="Delete post">
    </form>

    <div class="edit-button">
        <a href="{{ url_for('edit', post_id=entry.id) }}">Edit post</a>
    </div>

{% endif %}

{% endblock %}
